# Project 1

**Dataset:** Speed dating

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [ ]:
import wandb

super_secret_API_key = "d1678741bcd8eb1d90ca26aa8f2bf079256ac391"

wandb.login(key=super_secret_API_key)
# ak to chceme pouzivat, tak si tu budes musiet spravit ucet aby som ti mohol dat pristup
# https://wandb.ai/bizon-mimi-stu/ZNEUS_project1/workspace?nw=nwuserbizonmimi

wandb: WARNING If you're specifying your api key in code, ensure this code is not shared publicly.
wandb: WARNING Consider setting the WANDB_API_KEY environment variable, or running `wandb login` from the command line.
wandb: No netrc file found, creating one.
wandb: Appending key for api.wandb.ai to your netrc file: C:\Users\bizon\_netrc
wandb: Currently logged in as: bizon-mimi (bizon-mimi-stu) to https://api.wandb.ai. Use `wandb login --relogin` to force relogin

True

In [ ]:
# wandb test
import random

# Start a new wandb run to track this script.
run = wandb.init(
    entity="bizon-mimi-stu",  # team name
    project="ZNEUS_project1",  # project name
    # Track hyperparameters and run metadata.
    config={
        "learning_rate": 0.02,
        "architecture": "CNN",
        "dataset": "CIFAR-100",
        "epochs": 10,
    },
)

# Simulate training.
epochs = 10
offset = random.random() / 5
for epoch in range(2, epochs):
    acc = 1 - 2**-epoch - random.random() / epoch - offset
    loss = 2**-epoch + random.random() / epoch + offset

    # Log metrics to wandb.
    run.log({"acc": acc, "loss": loss})

# Finish the run and upload any remaining data.
run.finish()

In [ ]:
df_dating = pd.read_csv("DATA/speeddating.csv")
df_dating.head()

C:\Users\bizon\AppData\Local\Temp\ipykernel_37676\3295607780.py:1: DtypeWarning: Columns (3,10,11,15,16,17,18,19,39,40,41,42,43,44,51,52,53,54,55,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,107,109) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dating = pd.read_csv("DATA/speeddating.csv")

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21,27,6,[4-6],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,0,0
1,0,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,5,[6-8],[5-6],1,1,0,0
2,1,1,female,21,22,1,[0-1],'Asian/Pacific Islander/Asian-American','Asian/Pacific Islander/Asian-American',1,...,[0-3],[3-5],7,?,[6-8],[0-4],1,1,1,1
3,0,1,female,21,23,2,[2-3],'Asian/Pacific Islander/Asian-American',European/Caucasian-American,0,...,[0-3],[3-5],7,6,[6-8],[5-6],0,1,1,1
4,0,1,female,21,24,3,[2-3],'Asian/Pacific Islander/Asian-American','Latino/Hispanic American',0,...,[0-3],[3-5],6,6,[6-8],[5-6],0,1,1,1

In [28]:
df_dating.shape

(8378, 123)

In [29]:
df_dating.describe()

,has_null,wave,d_age,samerace,decision,decision_o,match
count,8378.00000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000,8378.000000
mean,0.87491,11.350919,4.185605,0.395799,0.419909,0.419551,0.164717
std,0.33084,5.995903,4.596171,0.489051,0.493573,0.493515,0.370947
min,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.00000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.00000,11.000000,3.000000,0.000000,0.000000,0.000000,0.000000
75%,1.00000,15.000000,5.000000,1.000000,1.000000,1.000000,0.000000
max,1.00000,21.000000,37.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
df_dating.info

<bound method DataFrame.info of       has_null  wave  gender age age_o  d_age d_d_age  \
0            0     1  female  21    27      6   [4-6]
1            0     1  female  21    22      1   [0-1]
2            1     1  female  21    22      1   [0-1]
3            0     1  female  21    23      2   [2-3]
4            0     1  female  21    24      3   [2-3]
...        ...   ...     ...  ..   ...    ...     ...
8373         1    21    male  25    26      1   [0-1]
8374         1    21    male  25    24      1   [0-1]
8375         1    21    male  25    29      4   [4-6]
8376         1    21    male  25    22      3   [2-3]
8377         1    21    male  25    22      3   [2-3]

                                         race  \
0     'Asian/Pacific Islander/Asian-American'
1     'Asian/Pacific Islander/Asian-American'
2     'Asian/Pacific Islander/Asian-American'
3     'Asian/Pacific Islander/Asian-American'
4     'Asian/Pacific Islander/Asian-American'
...                                       ...
8373              European/Caucasian-American
8374              European/Caucasian-American
8375              European/Caucasian-American
8376              European/Caucasian-American
8377              European/Caucasian-American

                                       race_o  samerace  ...  \
0                 European/Caucasian-American         0  ...
1                 European/Caucasian-American         0  ...
2     'Asian/Pacific Islander/Asian-American'         1  ...
3                 European/Caucasian-American         0  ...
4                  'Latino/Hispanic American'         0  ...
...                                       ...       ...  ...
8373               'Latino/Hispanic American'         0  ...
8374                                    Other         0  ...
8375               'Latino/Hispanic American'         0  ...
8376  'Asian/Pacific Islander/Asian-American'         0  ...
8377  'Asian/Pacific Islander/Asian-American'         0  ...

     d_expected_num_interested_in_me d_expected_num_matches like  \
0                              [0-3]                  [3-5]    7
1                              [0-3]                  [3-5]    7
2                              [0-3]                  [3-5]    7
3                              [0-3]                  [3-5]    7
4                              [0-3]                  [3-5]    6
...                              ...                    ...  ...
8373                           [0-3]                  [3-5]    2
8374                           [0-3]                  [3-5]    4
8375                           [0-3]                  [3-5]    6
8376                           [0-3]                  [3-5]    5
8377                           [0-3]                  [3-5]    4

     guess_prob_liked d_like d_guess_prob_liked met decision decision_o match
0                   6  [6-8]              [5-6]   0        1          0     0
1                   5  [6-8]              [5-6]   1        1          0     0
2                   ?  [6-8]              [0-4]   1        1          1     1
3                   6  [6-8]              [5-6]   0        1          1     1
4                   6  [6-8]              [5-6]   0        1          1     1
...               ...    ...                ...  ..      ...        ...   ...
8373                5  [0-5]              [5-6]   0        0          1     0
8374                4  [0-5]              [0-4]   0        0          0     0
8375                5  [6-8]              [5-6]   0        0          0     0
8376                5  [0-5]              [5-6]   0        0          1     0
8377                5  [0-5]              [5-6]   0        0          1     0

[8378 rows x 123 columns]>

In [36]:
missing_values = df_dating.isnull().sum()
print(missing_values[missing_values > 0])

nan_values = df_dating.isna().sum()
print(missing_values[nan_values > 0])

Series([], dtype: int64)
Series([], dtype: int64)

In [32]:
df_dating["race_o"].unique()

array(['European/Caucasian-American',
       "'Asian/Pacific Islander/Asian-American'",
       "'Latino/Hispanic American'", 'Other', "'Black/African American'",
       '?'], dtype=object)

In [33]:
df_dating["race"].unique()

array(["'Asian/Pacific Islander/Asian-American'",
       'European/Caucasian-American', 'Other',
       "'Latino/Hispanic American'", "'Black/African American'", '?'],
      dtype=object)

In [34]:
df_dating["gender"].unique()

array(['female', 'male'], dtype=object)

In [35]:
df_dating["wave"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])